// Used for horizontal gutters
$grid-gutter-width-small: $unit * 2;
$grid-gutter-width-medium: $unit * 3;
$grid-gutter-width-large: $unit * 4;
// Used for vertical gutters
$grid-gutter-height-small: $unit * 2;
$grid-gutter-height-medium: $unit * 3;
$grid-gutter-height-large: $unit * 4;

