$base-font-size:   $unit * 2;

$type-tiny:     12;
$type-small:    14;
$type-base:     $base-font-size;
$type-medium:   19;
$type-large:    23;
$type-xlarge:   28;
$type-xxlarge:  33;
$type-xxxlarge: 40;



